## Final Project Submission
LOOK UP EXAMPLE NOTEBOOKS IN DATA SCIENCE (EDA, ECPLORATORY DATA ANALYSIS), look up how to make jupyter notebooks look nice

Look up all these datasets and get as much existing information from them as you can.

Go through comments in code and see what comments would be better as Markdown. Anything excess can be used in your blog post!

insert function you wrote in other project here, write a funxtion for dropping columns given col name?

Please fill out:
* Student name: Telayna Wong
* Student pace: self paced
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:


IMDB DATA SET: A ‘\N’ is used to denote that a particular field is missing or null for that title/name.

**DELETE B4 TURNING IN**

* "How did you pick the question(s) that you did?" - I decided to use ratings because I am interested in what the public thoughts align to box office success
* "Why are these questions important from a business perspective?" - genre gives us a broad overview of where Microsoft can look, ratings give us ideas about 
* "How did you decide on the data cleaning options you performed?"
* "Why did you choose a given method or library?" - I used both matpliotlib and seaborn to try to have visualizations with different styles to appeal to a wide range of audiences
* "Why did you select those visualizations and what did you learn from each of them?"- 
* "Why did you pick those features as predictors?" - I thought looking at "successful" genres in terms of revenue would give a nice broad overview of where Microsoft should start focusing their energies on movie planning.
* "How would you interpret the results?"
* "How confident are you in the predictive quality of the results?" - i feel confident in that I pulled from several different datasets that are created by the top movie databases. If you use movie ratings from users, then I do feel like I am getting a good survey from the population since these are huge websites.
* "What are some of the things that could cause the results to be wrong?" - if you used ratings/critics, it is really hard to say whether these people represent the population at large. And we don't know how much money was spent on advertising, and what methods of advertisting were used.

# Table of Contents

MAKE THIS MORE DETAILED, with specific contents in each section?
- <a href='#Questions'>Questions</a>
- <a href='#Exploring the Data'>Data Exploration</a>
- <a href='#Data Cleaning'>Data Cleaning</a>
- <a href='#Visualizations'>Visualizations</a>
- <a href='#Business Recommendations'>Business Recommendations</a>
- <a href='#Future Work'>Future Work</a>

<a id='Questions'></a>
## Questions

The overall goal of the below analysis is to steer Microsoft in the right direction as they make their bold leap into the movie making business--how can Microsoft create the most revenue from movies?

To inform this question, I examine the following research questions:

* Which genres gross the most domestically vs internationally?
* How does release date factor into box office revenue? Is there a seasonal component to revenue?
* How do film ratings from online users impact box office success? Do high ratings = high movie revenue? Maybe compare to critic reviews. Can we trust the critics? OR maybe just look at what the critics do.

In [151]:
# Import required libraries 
import numpy as np
import pandas as pd

# Import visualization libraries
import matplotlib.pyplot as plt
%matplotlib inline
 
import seaborn as sns # REMEMBER TO TAKE OUT IF YOU DECIDE NOT TO USE SEABORN

 <a id='Exploring the Data'></a>

## Exploring the Data

I have the following datasets at my disposal:

From Box Office Mojo:
* bom.movie_gross.csv.gz

From IMDB:
* imdb.name.basics.csv.gz
* imdb.title.akas.csv.gz
* imdb.title.basics.csv.gz
* imdb.title.crew.csv.gz
* imdb.title.principals.csv.gz
* imdb.title.ratings.csv.gz

From Rotten Tomatoes:
* rt.movie_info.tsv.gz
* rt.reviews.tsv.gz

TheMovieDB.org
* tmdb.movies.csv.gz
* tn.movie_budgets.csv.gz

_Right off the bat_, I know I want to take a look at **bom.movie_gross.csv.gz** and **tn.movie_budgets.csv.gz** to figure out movie revenues.

To get information on ratings from users and critics I will also probably look at **imdb.title.ratings.csv.gz** and **rt.reviews.tsv.gz**.

Let's now read in data files and start cleaning them up. I will assign variables to each dataset so I can preprocess them easier.

In [163]:
bom_movie_gross = pd.read_csv('zippedData/bom.movie_gross.csv.gz')

# Get information on each column's data types and data value counts as a starting point for cleaning
bom_movie_gross.info()

# How will you id movies other than title? how will you do this in a smart way?

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

Also, let's take a look at what time period this dataset covers.

In [164]:
bom_movie_gross['year'].describe()

count    3387.000000
mean     2013.958075
std         2.478141
min      2010.000000
25%      2012.000000
50%      2014.000000
75%      2016.000000
max      2018.000000
Name: year, dtype: float64

This dataset only covers 8 years, so that is something to keep in mind for analysis. I will also want to check the range of years on the other dataset with domestic and foreign gross information.

From this initial information on the 'bom_movie_gross' dataset, I see that I need to do the following cleanup steps:

* Convert 'foreign_gross' to float64 data type like 'domestic_gross.' - DONE
* Deal with missing values from 'foreign_gross' - I might want to use another dataset for foreign gross values. See if I can grab these values from tn.movie_budgets.csv.gz
* Drop the 'studio' column as it is not relevant to any of my research questions. - DONE 
* Convert 'year' to the 'datetime64' data type. This will allow me to more easily create a time series plot. -- DO I NEED THIS?

In [165]:
# Not gonna use studio data, so will drop this column.
dropped_bom_movie_gross = bom_movie_gross.drop(['studio'], axis = 1)
dropped_bom_movie_gross

,title,domestic_gross,foreign_gross,year
0,Toy Story 3,415000000.0,652000000,2010
1,Alice in Wonderland (2010),334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,296000000.0,664300000,2010
3,Inception,292600000.0,535700000,2010
4,Shrek Forever After,238700000.0,513900000,2010
...,...,...,...,...
3382,The Quake,6200.0,NaN,2018
3383,Edward II (2018 re-release),4800.0,NaN,2018
3384,El Pacto,2500.0,NaN,2018
3385,The Swan,2400.0,NaN,2018
3386,An Actor Prepares,1700.0,NaN,2018

In [166]:
# Check for null values in 'domestic gross' and 'foreign gross'
dom_gross_missing = dropped_bom_movie_gross['domestic_gross'].isnull().sum()
foreign_gross_missing = dropped_bom_movie_gross['foreign_gross'].isnull().sum()

print("Missing Domestic Gross Values:", dom_gross_missing)
print("Missing Foreign Gross Values:", foreign_gross_missing)

Missing Domestic Gross Values: 28
Missing Foreign Gross Values: 1350

I cannot reasonably impute missing foreign and domestic gross values for movies, so I will have to drop these null values. Let's do this drop in place, right in the dataset.

In [167]:
dropped_bom_movie_gross.dropna(inplace=True)

Let's double check that dropping our nulls worked.

In [168]:
dropped_bom_movie_gross.isnull().sum()

title             0
domestic_gross    0
foreign_gross     0
year              0
dtype: int64

Let's fix our data types so that we can further work with them.

In [169]:
# Don't know if I need to change to datetime...
# Change (in place) year to 'datetime64' data type.
pd.to_datetime(dropped_bom_movie_gross['year'])

# Before I can change foreign_gross values to floats, I have to remove any commas or alphanumeric characters.
# Let's do both the character removal and datatype conversion in one line of code!
dropped_bom_movie_gross['foreign_gross'].str.replace('[A-Za-z]', '').str.replace('.', '').str.replace(',', '.').astype(float)

0       652000000.0
1       691300000.0
2       664300000.0
3       535700000.0
4       513900000.0
           ...
3275      1500000.0
3286       229000.0
3309       256000.0
3342         5200.0
3353        30000.0
Name: foreign_gross, Length: 2009, dtype: float64

Let's check for repeat movie titles to ensure there are not duplicates in the dataset.

In [170]:
# Check for duplicate values in the column 'title'
dropped_bom_movie_gross.title.duplicated().any()

False

Nice, looks like there are not repeats of movie titles, but it will be important to check that there are not repeats that are hiding within strange formatting. --- MAYBE TAKE THIS OUT ??????

I want to have a visualization of movie revenue by genre (foreign vs. domestic), so I will take a closer look at these columns?

In [171]:
dropped_bom_movie_gross['domestic_gross'].describe()
# bom_movie_gross['domestic_gross'].quantile(q=.75)

count    2.009000e+03
mean     4.697311e+07
std      8.159966e+07
min      4.000000e+02
25%      6.650000e+05
50%      1.650000e+07
75%      5.600000e+07
max      9.367000e+08
Name: domestic_gross, dtype: float64

In [ ]:
dropped_bom_movie_gross['foreign_gross'].describe()
# What are the currenciges used in 'foreign_gross', and is this column additive, or completely separate from 'domestic_gross'?

In [28]:
# Read in data files. Not gonna use this file--maybe take out nb?
# imdb_name_basics = pd.read_csv('zippedData/imdb.name.basics.csv.gz')
# match up with 'nconst' column in pd.read_csv('zippedData/imdb.title.crew.csv.gz'). Try locating the same value of nconst.
# 'birth_year' and 'death_year' seem to be missing a lot of values, and I'm not sure how this dataset will be helpful to my research questions. I will drop these.
# imdb_name_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 606648 entries, 0 to 606647
Data columns (total 6 columns):
nconst                606648 non-null object
primary_name          606648 non-null object
birth_year            82736 non-null float64
death_year            6783 non-null float64
primary_profession    555308 non-null object
known_for_titles      576444 non-null object
dtypes: float64(2), object(4)
memory usage: 27.8+ MB

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387"
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256"
...,...,...,...,...,...,...
606643,nm9990381,Susan Grobes,NaN,NaN,actress,NaN
606644,nm9990690,Joo Yeon So,NaN,NaN,actress,"tt9090932,tt8737130"
606645,nm9991320,Madeline Smith,NaN,NaN,actress,"tt8734436,tt9615610"
606646,nm9991786,Michelle Modigliani,NaN,NaN,producer,NaN
606647,nm9993380,Pegasus Envoyé,NaN,NaN,"director,actor,writer",tt8743182

In [43]:
# Read in data files - This is the original file
imdb_title_akas = pd.read_csv('zippedData/imdb.title.akas.csv.gz')
imdb_title_akas
# imdb_title_akas.types.unique()

,title_id,ordering,title,region,language,types,attributes,is_original_title
0,tt0369610,10,Джурасик свят,BG,bg,NaN,NaN,0.0
1,tt0369610,11,Jurashikku warudo,JP,NaN,imdbDisplay,NaN,0.0
2,tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,NaN,imdbDisplay,NaN,0.0
3,tt0369610,13,O Mundo dos Dinossauros,BR,NaN,NaN,short title,0.0
4,tt0369610,14,Jurassic World,FR,NaN,imdbDisplay,NaN,0.0
...,...,...,...,...,...,...,...,...
331698,tt9827784,2,Sayonara kuchibiru,NaN,NaN,original,NaN,1.0
331699,tt9827784,3,Farewell Song,XWW,en,imdbDisplay,NaN,0.0
331700,tt9880178,1,La atención,NaN,NaN,original,NaN,1.0
331701,tt9880178,2,La atención,ES,NaN,NaN,NaN,0.0
331702,tt9880178,3,The Attention,XWW,en,imdbDisplay,NaN,0.0

In [51]:
imdb_title_akas.info()
imdb_title_akas.attributes.unique()
# The languages and attributes columns are missing many values, so I will drop it.

# I don't think the 'types' or 'attributes' column will be very useful to me (per dataset documentation https://www.imdb.com/interfaces/) so I will drop it.
# Region is also missing a fair amount of values, and I don't have information as to which are represented here. I will drop this one as well.
imdb_title_akas.region.unique()
imdb_title_akas_dropped = imdb_title_akas.drop(['attributes','language','region','types'], axis = 1)
imdb_title_akas_dropped

# Let's see how many of the movies listed here are original titles vs. adaptations
imdb_title_akas_dropped['is_original_title'].isin(['1.0']).sum()
# I see that this dataset has a lot of duplicates

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331703 entries, 0 to 331702
Data columns (total 8 columns):
title_id             331703 non-null object
ordering             331703 non-null int64
title                331703 non-null object
region               278410 non-null object
language             41715 non-null object
types                168447 non-null object
attributes           14925 non-null object
is_original_title    331678 non-null float64
dtypes: float64(1), int64(1), object(6)
memory usage: 20.2+ MB

286978

In [47]:
# Read in data files
imdb_title_basics = pd.read_csv('zippedData/imdb.title.basics.csv.gz')
imdb_title_basics

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [46]:

# match up with file 'imdb.title.crew.csv.gz' and 'zippedData/imdb.title.principals.csv.gz' via tconst column
# and 'imdb_title_akas' to isolate genres.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
tconst             146144 non-null object
primary_title      146144 non-null object
original_title     146123 non-null object
start_year         146144 non-null int64
runtime_minutes    114405 non-null float64
genres             140736 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB

In [52]:
# Read in data files
# pd.read_csv('zippedData/imdb.title.crew.csv.gz')

I will not be using this dataset because I am not planning on looking at writers or directors.

In [8]:
# Read in data files
pd.read_csv('zippedData/imdb.title.principals.csv.gz')

,tconst,ordering,nconst,category,job,characters
0,tt0111414,1,nm0246005,actor,NaN,"[""The Man""]"
1,tt0111414,2,nm0398271,director,NaN,NaN
2,tt0111414,3,nm3739909,producer,producer,NaN
3,tt0323808,10,nm0059247,editor,NaN,NaN
4,tt0323808,1,nm3579312,actress,NaN,"[""Beth Boothby""]"
...,...,...,...,...,...,...
1028181,tt9692684,1,nm0186469,actor,NaN,"[""Ebenezer Scrooge""]"
1028182,tt9692684,2,nm4929530,self,NaN,"[""Herself"",""Regan""]"
1028183,tt9692684,3,nm10441594,director,NaN,NaN
1028184,tt9692684,4,nm6009913,writer,writer,NaN
1028185,tt9692684,5,nm10441595,producer,producer,NaN

In [15]:
# Read in the tab separated file (.tsv)
pd.read_csv('zippedData/rt.movie_info.tsv.gz', sep='\t', drop)

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1555,1996,Forget terrorists or hijackers -- there's a ha...,R,Action and Adventure|Horror|Mystery and Suspense,NaN,NaN,"Aug 18, 2006","Jan 2, 2007",$,"33,886,034",106 minutes,New Line Cinema
1556,1997,The popular Saturday Night Live sketch was exp...,PG,Comedy|Science Fiction and Fantasy,Steve Barron,Terry Turner|Tom Davis|Dan Aykroyd|Bonnie Turner,"Jul 23, 1993","Apr 17, 2001",NaN,NaN,88 minutes,Paramount Vantage
1557,1998,"Based on a novel by Richard Powell, when the l...",G,Classics|Comedy|Drama|Musical and Performing Arts,Gordon Douglas,NaN,"Jan 1, 1962","May 11, 2004",NaN,NaN,111 minutes,NaN
1558,1999,The Sandlot is a coming-of-age story about a g...,PG,Comedy|Drama|Kids and Family|Sports and Fitness,David Mickey Evans,David Mickey Evans|Robert Gunter,"Apr 1, 1993","Jan 29, 2002",NaN,NaN,101 minutes,NaN
1559,2000,"Suspended from the force, Paris cop Hubert is ...",R,Action and Adventure|Art House and Internation...,NaN,Luc Besson,"Sep 27, 2001","Feb 11, 2003",NaN,NaN,94 minutes,Columbia Pictures

In [18]:
# Read in the tab separated file (.tsv).
# Include encoding argument to get around encoding warning
pd.read_csv('zippedData/rt.reviews.tsv.gz', sep='\t', encoding = 'unicode_escape')

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"
...,...,...,...,...,...,...,...,...
54427,2000,The real charm of this trifle is the deadpan c...,NaN,fresh,Laura Sinagra,1,Village Voice,"September 24, 2002"
54428,2000,NaN,1/5,rotten,Michael Szymanski,0,Zap2it.com,"September 21, 2005"
54429,2000,NaN,2/5,rotten,Emanuel Levy,0,EmanuelLevy.Com,"July 17, 2005"
54430,2000,NaN,2.5/5,rotten,Christopher Null,0,Filmcritic.com,"September 7, 2003"
54431,2000,NaN,3/5,fresh,Nicolas Lacroix,0,Showbizz.net,"November 12, 2002"

In [1]:
# Read in data files
df_tmdb_movies = pd.read_csv('zippedData/tmdb.movies.csv.gz',)
# need to remove unnamed:0 column
df_tmdb_movies

NameError: name 'pd' is not defined

In [20]:
# Read in data files
rev_ds = pd.read_csv('zippedData/tn.movie_budgets.csv.gz')
# does the id in this dataset match up with 'tmdb.movies.csv.gz'- maybe sort by ids on the other dataset to check
# I will have to remove the $ symbols from the last 3 columns and reformat the date
rev_ds['movie']

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

Of the datasets available to me, I want to work with the following:

* tn.movie_budgets.csv.gz - contains the movie names that I can match up to other datasets, release_date, and revenue data (if I subtract production_budget from gross columns).
*

<a id='Data Cleaning'></a>

## Let's Clean Up the Data

In [ ]:
df_1 =

I am dropping the following columns because they are not suitable or necessary for my analysis:

We have further missing data in the following data frames:

Just from running the .info() function over each dataset and seeing which columns have much less values than they should, I have identified the following columns to be dropped:

However, some of these columns may not contain missing values upon first inspection with .info(). Missing values may be indicated with some placeholder like 'NAN.' I have to take a look at each column's values to identify these null values that will get in the way of my analysis.

According to the IMDB dataset documentation (), '/N' is used for missing values.

Now I have to make a decision about whether I will impute missing values or drop columns to deal with these null values.

By combining our variables of interest into one new dataset, we simplify our analysis process.

In [ ]:
combined_df = combined_df[genre]
combined_df

As a reminder, one of my research questions was "Which genres gross the most domestically vs internationally?"
To take a look at this, I need to clean up my 'genres' column.

I see from a preview of the combined_df above that I have movies with more than one genre listed. This will make analysis difficult--what I need to do is separate each genre into one row for that movie (with indexing preserved). I can do this with the explode() function.

In [ ]:
exploded_df = combined_df.explode('genres')

To get revenue, subtract production_budget from domestic_gross or worldwide_gross. Maybe include marketing costs--you would have to find this online, maybe wikipedia. and you need to decide,  mean or median marketing costs? Or

In [ ]:
# One hot encode categoricals
pd.get_dummies()

## Visualizations
5? different meaningful data visualizations, with corresponding interpretations. All visualizations are well labeled with axes labels, a title, and a legend (when appropriate)

In [ ]:
# Boxplot to remove outliers?

In [ ]:
# Bar graph showing genres on x-axis and movies grossing over ... (look at the statistics on available data to determine the best separation)
# Look at code here: https://benalexkeen.com/bar-charts-in-matplotlib/
plt.style.use('ggplot')

genres = exploded_df['genres']
movies_over_ = 
genre_pos = [i for i, _ in enumerate(genres)]

plt.bar(genre_pos, movies_over_, color='purple')
plt.xlabel('Genre')
plt.ylabel('# of Movies with Revenue Over X')
plt.title('Movies with Revenue Over X by Genre (Domestic vs International)'')
plt.legend(loc='upper right')
plt.xticks(x_pos, x)

# Rotate axis labels
plt.setp(plt.gca().get_xticklabels(), rotation=45, horizontalalignment='right')

plt.show()

In [ ]:
# Time series with release dates

<a id='Business Recommendations'></a>

## Business Recommendations

* Release month does not seem to be a statistically important factor for Microsoft to consider.

<a id='Future Work'></a>

## Future work

* In this analysis, I looked at data from the past x years (up to 2018?) with these datasets. It would be helpful to scrape more recent data from 2019.

* I did not account for advertising costs, which would help us better quantify revenue.

* Now that I have identified some of the key characteristics of movies that produce the most revenue, I would like to take a deeper look at which kind of customers to target movies toward by performing a market segmentation with clustering techniques.